html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Source Sans 3", sans-serif;
    box-sizing: border-box;
    background-color: whitesmoke;
}

/* layout */
header {
    width: 570px;
    height: 100px;
    border-bottom: 1px solid #C6C6C6;
    margin: 0 auto;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 0.625rem;
    border-radius: 8px;
}

header img {
    border-radius: 50%;
}
.user {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.625rem;
}
.logo {
    width: 8.75rem;
    height: 6.875rem;
    margin-left: 0.625rem;

}

main {
    width: 570px;
    height: 1900px;
    margin: 0 auto;
    background-color: white;
    margin-top: 2px;
    border-radius: 12px;
}
section {
    width: 98%;
    height: 600px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 10px;
    border-bottom: 1px solid #C6C6C6;
}

section img {
    width: 100px;
}

.container-one {
    height: 50px;
    padding: 10px 4px;
}

.container-one img {
    width: 3.75rem;
    border-radius: 50%;
}

.sub-container {
    display: inline-block;
    margin-left: 2px;
}

.container-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container-two {
    height: 400px;
    margin-top: 10px;
}

.container-two img {
    width: 100%;
    height: 100%;
}

.container-two:hover {
    cursor: pointer;
}

.container-three {
    margin-top: 8px;
}

.icon-container {
    width: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
}
.icon-container img{
    width: 30px;
    transition: all 0.2s ease-in-out;
}

.icon-container img:hover,
.icon-container img:focus {
    opacity: 0.6;
    cursor: pointer;
}

.likes-container {
    margin-top: 2px;
    padding: 5px 10px;
    width: 95%;
}
.likes-container p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 17px;
}
.likes-container span {
    font-size: 18px;
    font-weight: bold;
}


h4{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 22px;
}

span {
    line-height: 1;
    font-size: 14px;
}
